[submodule "canadensis_dsdl_frontend/tests/public_regulated_data_types"]
	path = canadensis_dsdl_frontend/tests/public_regulated_data_types
	url = https://github.com/OpenCyphal/public_regulated_data_types.git
